# Ignore .env files
*.env
**/*.env

# Ignore .cache files
*.cache
**/*.cache

# Ignore IDE-specific directories and files
**/.vscode/
**/.idea/
*.iml

# Ignore log files
*.log
**/*.log

# Ignore .config files that contain sensitive data
config.json
**/config.json

